*{
	font-family: "Baloo Bhai 2", sans-serif;
}


body{
	padding:24px 16px;
	background-color: #f1f2f6;
	
	max-width: 750px;
	margin: auto;
/*background: rgb(69,215,252);
background: linear-gradient(90deg, rgba(69,215,252,1) 0%, rgba(255,137,137,1) 46%, rgba(228,187,255,1) 100%);
*/}


p{
	font-size: .9em;
}

.img-holder{
	height:220px;
	width:100%;
	margin:auto;
	display:inline-block;
	text-align: center;

	
}

.title-image{
	cursor: pointer;
}


.sample-container img {
/*	transition: border-width 0.6s linear;
*/}

.sample-container img:hover{
	outline: 4px solid #33d9b2;
	outline-offset: -4px;
}

.separator {
	height: 16px;
	margin: 10px 0px;
	width: 100%;
	background: linear-gradient(90deg, rgba(69,215,252,1) 0%, rgba(255,137,137,1) 46%, rgba(228,187,255,1) 100%);
}

#email{
	font-weight: 700;
	text-decoration: none;
	color: blue;
}

.description{
	max-width: 500px;
}

.title{
	text-align: center;
	font-family: "Baloo Bhai 2", sans-serif;
	height: 100%;
	padding-top: 5px;
	font-weight: normal;

}


h3{
		font-family: "Baloo Bhai 2", sans-serif;
		margin:0;
}

h5{
		font-family: "Baloo Bhai 2", sans-serif;
		font-style: italic;
		color:#888;

		font-size: 1em;
		margin-top: -5px;



}

.sample-title{
	overflow: hidden;
}

.footer{
	width: 100%;
}


.other-title{
	font-family: "Baloo Bhai 2", sans-serif;
		font-style: italic;
		color:#888;

}

.sample-container {
	padding:5px;
}

.sample-container .odd{
	box-shadow:5px 5px #ff3838;
	margin-bottom: 8px;
}

.sample-container .even{
	box-shadow:5px 5px #18dcff;
	margin-bottom: 8px;
}


.title-image {
	max-width:100%;
	max-height:100%;
	display:inline-block;
	border: 5px solid black;
	box-shadow: 3px 3px blue;
	border-radius:5%;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}